.my-app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas:
        "header header"
        "nav cont";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.my-app-content {
    grid-area: cont;
    background-color: cornflowerblue;
    min-height: 100vh;
    height: auto;
}